/*body + container */
body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: #F9FAF8;
}

/*header*/
.header {
    display: flex;
    background-color: #1F2937;
    padding: 25px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/*hero*/
.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px 200px;
    justify-content: center;
}

.text {
    max-width: 500px;
}

.hero1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    border-radius: 5%;
    /*box-shadow: 10px 10px 10px #151c25;*/
}

button {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}






/*information*/
.information {
    flex-direction: column;
    color: black;
    padding: 25px 200px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.boxrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

.infotext {
    display: flex;
    justify-content: center;
}

/*quote*/
